@{
    ViewBag.Title = "Quiz";
}

<section>
    <div class="container">
        <div style="text-align:center">
            <img src="~/img/sorryImages.jpg" style="height: 300px; width: auto; margin-bottom: 20px;"/>
            <h2 class="heading" style="color:red">Sorry this Chapter still under construction..</h2>
            <a asp-controller="Chapter" asp-action="ChapterList" class="btn btn-lg btn-block btn-success"><span class="fa fa-play-circle"></span> Back to Chapter List</a>
        </div>
    </div>
</section>

