@{
    ViewBag.Title = "Quiz";
}

<section>
    <div class="container">
        <div>
            <h1 class="heading">Quiz Result</h1>
            <div class="headul"></div>
        </div>
        <div style="text-align:center">
            <h2 class="heading" style="color:red">Sorry this Chapter still under construction..</h2>
            <img src="~/img/sorryImages.jpg"/>
        </div>
    </div>
</section>

