@{
    ViewBag.Title = "World War II Introduction";
}

<section>
    <div class="container">
        <section>
            <a asp-controller="Chapter" asp-action="HindiaBelanda" class="btn btn-primary" style="float: right"><i class="fa fa-arrow-right"></i> Next Chapter</a>
        </section>
        <div style="text-align:center"><iframe width="700" height="400" src="https://www.youtube.com/embed/PCXSuaOozDE" frameborder="0" allowfullscreen></iframe></divstyle="text-align:center">
        <br />
        <br />
        <h2 class="heading">World War II Introduction</h2>
        <div class="headul"></div>
        <p class="subheading">Pengenalan Perang Dunia II</p>
        <section>
            <h3>Apa itu Perang Dunia II?</h3>
            <p>
                Perang dunia II merupakan perang berskala Global yang terjadi pada tahun 1939 - 1945 yang membawa hampir seluruh negara dari USA - Jepang terlibat dalam konflik peperangan ini. Bermula dari
                ketidakstabilan pada eropa yang disebabkan oleh Perang Dunia I, dan Perjanjian Versailles yang membawa rasa kebencian pada Jerman karena merasa hal yang diajukan pada perjanjian tersebut terlalu kejam,
                yang pada akhirnya mendorong Adolf Hitler dan partai National Socialist (NaZi) untuk bangkit.
            </p>
            <blockquote>
                <a href="~/img/introduction/holocaust.jpg">
                    <img class="inviewport animated delay5" data-effect="fadeInUp" src="~/img/introduction/holocaust.jpg"
                         style="float:right; height: 150px; width: auto; margin-left: 20px;"
                         title="Holocaust" data-fancybox-group="gallery" />
                </a>
                <h3>
                    <span class="fa fa-question-circle"></span> Taukah Kamu?
                </h3>
                <p>"Pada awal tahun 1923, didalam buku propaganda "Mein Kampf", Adolf Hitler telah memprediksi bahwa Perang Eropa akan membawa Pemusnahan ras Yahudi di Jerman</p>
                <small>Mein Kampf</small>
            </blockquote>
            <p>
                Setelah menjadi Reich Chancellor pada tahun 1933, Hitler dengan cepat mendapat kekuatan dan menyatakan dirinya seorang Fuhrer (Pemimpin Tertinggi). Terobsesi dengan ide kesuperioran ras "Pure" Jerman yang
                disebut olehnya "Aryan" Hitler percaya bahwa perang adalah satu-satunya jalan baginya untuk mendapatkan "Lebensraum" atau Ruang Hidup yang cukup agar Ras tersebut dapat berkembang. Pada saat pertengahan 1930-an,
                dia memulai mempersiapkan persenjataan Jerman secara diam-diam dimana aksi tersebut melanggar Perjanjian Versailles yang berlaku disaat itu, setelah menandatangani perjanjian sekutu dengan itali dan jepang untuk
                melawan Uni Soviet, Hitler pun mengirimkan pasukan untuk menguasai Austria pada tahun 1938 dan pada tahun berikutnya Czechoslovakia yang diambil alih oleh Hitler, Namun Agresi terbuka yang dilakukan oleh hitler
                pada saat itu tidak dihiraukan, karena pada saat itu United States dan Uni Soviet sedang berkonsentrasi untuk menyelesaikan masalah politik internal mereka, begitu pula dengan Perancis dan Inggris
                yang tidak terlalu peduli untuk menghadapai Hitler
            </p>
            <hr style="border-top: 1px dashed #8c8b8b;" />
            <h3>Permulaan Perang Dunia II</h3>
            <a href="~/img/introduction/nonagresijerman.jpg">
                <img class="inviewport animated delay5" data-effect="fadeInUp" src="~/img/introduction/nonagresijerman.jpg"
                     style="float:right; height: 300px; width: auto; margin-left: 20px;"
                     title="Perjanjian non Agresi Jerman-Soviet" data-fancybox-group="gallery" />
            </a>
            <p>
                Pada akhir bulan agustus tahun 1939, Hitler dan ketua Uni Soviet Joseph Stalin menandatangani Perjanjian Non Agresi Jerman-Soviet yang membuat kedua negara tersebut tidak akan melakukan aksi militer satu sama lain
                dalam 10 tahun kedepan. Sebenarnya Hitler sejak lama telah merencanakan untuk menginvasi Polandia, negara yang dijamin bantuan militernya oleh Inggris dan Perancis jika Jerman melancarkan serangan pada negara tersebut.
                Namun perjanjiannya dengan Stalin berarti membuat Hitler tidak akan berhadapan dengan 2 Pasukan jika dia menginvasi Polandia, dan Hitler pun akan mendapat bantuan dari Soviet dalam invasinya tersebut. Pada Tanggal 1 September, 1913 Hitler mulai menginvasi
                Polandia dari Barat; 2 hari kemudian, Perancis dan inggris pun akhirnya mendeklarasi perang dengan Jerman, dan memulai Perang Dunia II.
            </p>
            <p>
                Pada tanggal 17 September, Pasukan Uni-Soviet mulai menginvasi polandia dari timur. Polandia yang diserang dua arah oleh Jerman dan Uni-Soviet pun jatuh dengan cepat, dan pada awal tahun 1940
                Jerman dan Uni-Soviet membagi kekuasaan atas negara tersebut sesuai dengan protokol rahasia yang ditambahkan di Perjanjian Non Agresi Jerman-Soviet.
                Kemudian pasukan Stalin pun bergerak untuk mengambil alih Baltic States (Estonia, Latvia dan Lithuania) dan mengalahkan pasukan resistance finland di perang Russo-Finnish.
                Selama 6 bulan semenjak Invasi menuju Polandia, Jerman dan sekutu di barat yang tidak melakukan apapun membuat media berita mengatakan bahwa ini hanyalah sebuah "Perang Palsu".
                Namun berbeda dengan didarat, Pasukan British dan Jerman sedang berhadapan dalam pertempuran hebat di laut yang berujung dengan kapal selam U-Boat Jerman yang menenggelamkan
                kapal pedagang yang terikat dengan inggris, terhitung lebih dari 100 kapal yang ditenggelamkan oleh Jerman pada 4 bulan pertama dari Perang Dunia II
            </p>
            <hr style="border-top: 1px dashed #8c8b8b;" />
            <h3>Perang Dunia II di Barat</h3>
            <p>
                <a href="~/img/introduction/blitzkrieg.jpg">
                    <img class="inviewport animated delay5" data-effect="fadeInUp" src="~/img/introduction/blitzkrieg.jpg"
                         style="float:right; height: 300px; width: auto; margin-left: 20px;"
                         title="Tank jerman sedang melakukan operasi Blitzkrieg" data-fancybox-group="gallery" />
                </a>
                Pada tanggal 9 April 1940, Jerman secara bersamaan menginvasi Norway dan mengambi alih Denmark, dan memulai perang secara serius.
                Pada tanggal 10 May, Pasukan Jerman menerobos Belgia dan Belanda yang membuatnya dikenal sebagai "Blitzkrieg" atau Perang Kilat.
                3 hari kemudian, Pasukan Hitler menyebrangi Sungai Meuse dan menyerang pasukan Perancis di Sedan, yang berlokasi di ujung utara Maginot Line, sebuah benteng
                yang mengalami fortifikasi berantai semenjak Perang Dunia I dan disebut-sebut sebagai "Impenetrable Defensive Barrier".
                Namun Faktanya, Jerman menembus garis pertahanan menggunakan Tank dan Pesawat dan melanjutkan perjalanan melalui samping, yang membuat benteng
                tersebut menjadi tidak berguna. The British Expeditionary Force (BEF) dievakuasi dari Dunkirk melalui laut pada akhir bulan May, sedangkan di selatan
                pasukan Perancis sedang berhadapan dengan pasukan resistance. Dengan Perancis berada diambang kehancuran, Benito Mussolini dari Itali pun menjalankan
                Perjanjian "Pact Of Steel" dengan Hitler, dan Itali pun mendeklarasikan perang dengan Perancis dan Inggris pada tanggal 10 Juni.
            </p>
            <p>
                Pada tanggal 14 Juni, pasukan Jerman memasuki Paris; sebuah pemerintahan baru yang dibentuk Marshal Philippe Petain (Pahlawan Perancis pada Perang Dunia I) yang meminta gencatan senjata
                2 hari kemudian. Perancis kemudian dibagi menjadi 2 bagian, satu dibawah kependudukan militer Jerman dan satunya lagi dibawah Pemerintahan Petain, yang dipasang di Vichy.
                Setelah Perancis, Hitler pun mengubah perhatiannya menuju Inggris, yang memiliki keuntungan pertahanan karena dipisahkan dari benua oleh selat inggris.
                Untuk membuka jalan bagi Invasi Amfibinya, pesawat Jerman membom Inggris secara ekstensif sepanjang musim panas tahun 1940, termasuk serangan malam di london dan pusat
                industri lain yang menyebabkan korban sipil dan kerusakan yang berat. Namun pada akhirnya the Royal Air Force (RAF) pun mengalahkan the Luftwaffe (Pasukan Udara Jerman) di "Battle of Britain", dan
                Hitler pun menunda rencana dia untuk menginvasi. Dengan sumber daya pertahanan inggris yang semakin terbatas, Perdana Mentri Winston Churchill mulai menerima bantuan penting dari
                United States dibawah perjanjian "Lend-Lease Act", yang disahkan oleh Kongres pada awal tahun 1941.
            </p>
            <hr style="border-top: 1px dashed #8c8b8b;" />
            <h3>Operasi Barbarossa (1941-1942)</h3>
            <a href="~/img/introduction/balbarossa.jpg">
                <img class="inviewport animated delay5" data-effect="fadeInUp" src="~/img/introduction/balbarossa.jpg"
                     style="float:right; height: 300px; width: auto; margin-left: 20px;"
                     title="Operasi Balbarossa berakhir dengan kekalahan jerman" data-fancybox-group="gallery" />
            </a>
            <p>
                Pada awal tahun 1941, Hungaria, Romania dan Bulgaria telah bergabung dengan Axis (Pasukan Jerman-Itali-Jepang, Selebihnya dapat dilihat <a href="https://en.wikipedia.org/wiki/Axis_powers">disini</a>),
                dan Pasukan Jerman pun menyebu Yugoslavia dan Yunani pada bulan April. Penaklukan Hitler terhadap Balkan sebenarnya adalah pendahuluan dari tujuan aslinya; yaitu invasi menuju Uni-Soviet, yang mempunyai
                wilayah luas sehingga dapat memberikan ruang yang dibutuhkan untuk Jerman Master Race, the "Lebensraum". Sebagian lain dari strategi Hitler adalah pemusnahanan ras Yahudi dari seluruh bagian eropa yang diduduki
                oleh Jerman. Rencana terakhir yang dilakukan hitler untuk mencapai tujuan tersebut diperkenalkan hitler sekitar waktu penyerangan soviet,
                dan 3 tahun setelahnya lebih dari 4 juta orang Yahudi disiksa di kamp-kamp kematian yang didirikan di wilayah kependudukan polandia.
            </p>
            <p>
                Pada tanggal 22 Juni, 1941, Hitler memerintahkan Invasi menuju Uni-Soviet, yang di codename "Operation Barbarossa". Walaupun jumlah Tank dan pasukan udara Soviet lebih banyak dibandingkan dengan Pasukan Jerman, namun Teknologi udara mereka sudah
                sangat ketinggalan dibandingkan Jerman, dan dampak dari invasi mendadak yang dilakukan Jerman membuat mereka mendapatkan 200 miles dari Moscow pada pertengahan Juli. Namun
                argumen yang dilakukan antara Hitler dan komandannya membuat penyerangan selanjutnya Jerman menjadi terhambat sampai bukan October, dimana pada bulan tersebut penyerangan Jerman
                dihadang oleh serangan balik Soviet dan Cuasa musim dingin yang balik.
            </p>
            <hr style="border-top: 1px dashed #8c8b8b;" />
            <h3>Perang Dunia II di Pasifik (1941-1943)</h3>
            <a href="~/img/introduction/midway.jpg">
                <img class="inviewport animated delay1" data-effect="bounceInBig" src="~/img/introduction/midway.jpg"
                     style="float:right; height: 300px; width: auto; margin-left: 20px;"
                     title="Battle of Midway" data-fancybox-group="gallery" />
            </a>
            <p>
                Dengan Pasukan Inggris menghadapi Jerman di Eropa, membuat United States adalah satu-satunya Negara yang dapat bertempur menghadapi agresi yang dilakukan oleh Jepang, yang pada akhir tahun 1941 diperluas oleh Perang yang sedang
                dilakukan dengan China dan penyitaan kepemilikan kolonial Eropa di ujung Timur. Pada tanggal 7 Desember, 1941, 360 Pasukan udara Jepang menyerang Pangkalan utama Angkatan Laut United States di Pearl Harbor Hawaii, yang membuat
                pasukan Amerika benar-benar terkejut dan mengambil nyawa lebih dari 2.300 prajurit. Penyerangan pada Pearl Harbor membuat publik America bersatu dalam pendapat untuk memasuki Perang Dunia II, dan pada tanggal 8 Desember Kongres mendeklarasi
                perang terhadapt jepang dengan hanya satu voting yang menolaknya. Jerman dan Pasukan "Axis" lainnya pun langsung mendeklarasi perang terhadap United States.
            </p>
            <p>
                Setelah Kemenangan berantai yang didapatkan oleh pasukan Jepang, Armada Pasifik United States akhirnya memenangkan "The Battle of Midway" pada bulan Juni 1942, yang merupakan titik balik pada perang tersebut. Di Guadalcanal, Salah satu dari bagian
                selatan Pulau Solomon, Sekutu pun juga mendapatkan hasil sukses melawan pasukan Jepang di Pertempuran beruntun semenjak bulan Agustus 1942 sampai Februari 1943, yang membantu membalik arus Pertempuran di Pasifik. Pada
                pertengahan tahun 1943, Pasukan angkatan laut sekutu memulai serangan balik yang agresif terhadap Jepang. Strategi "island-hopping" ini pun terbukti sukses, dan membuat pasukan Sekutu menjadi semakin dekat dengan tujuan utama dia yaitu menginvasi
                tanah air Jepang.
            </p>
            <hr style="border-top: 1px dashed #8c8b8b;" />
            <h3>Menuju Kemenangan Sekutu Di Perang Dunia II ( 1943-1945)</h3>
            <a href="~/img/introduction/dday.jpg">
                <img class="inviewport animated delay1" data-effect="bounceInBig" src="~/img/introduction/dday.jpg"
                     style="float:right; height: 300px; width: auto; margin-left: 20px;"
                     title="Operation D-Day" data-fancybox-group="gallery" />
            </a>
            <p>
                Di Afrika Utara, pasukan Inggris dan Amerika telah mengalahkan pasukan Itali dan jerman pada tahun 1943. Diikuti dengan invasi sekutu menuju Sicily dan Itali, Pemerintahan Mussolini akhirnya jatuh pada bulan Juli 1943, walaupun
                pada saat itu Sekutu masih bertempur melawan Jerman di Itali yang berlangsung sampai tahun 1945.
            </p>
            <p>
                Pada ujung timur Perang Dunia II, Pasukan Soviet sedang melancarkan serangan balik pada bulan November 1942 yang berakhir dengan selesainya pertempuran berdarah "Battle of Stalingard", yang diakui sebagai salah satu Pertempuran terganas di Perang
                Dunia II. Dengan musim dingin yang semakin dekat, bersamaan dengan pasokan makanan dan obat-obatan yang semakin berkurang, pasukan Jerman pun menyerah pada sekutu pada tanggal 31 Januari, 1943.
            </p>
            <p>
                Pada tanggal 6 Juni, 1944-dirayakan sebagai "D-Day"-Sekutu memulai invasi besar-besaran pada eropa, mendaratkan 156.000 pasukan Inggris, Canada, dan America di Pantai Normandy, Perancis. Dalam menanggapi hal tersebut, Hitler menumpahkan semua kekuatan
                terakhir pasukannya di Eropa Barat, yang memastikan kekalahan Jerman di Timur. Pasukan Soviet kemudian bergerak menuju Polandia,Czechoslovakia, Hungaria, dan Romania, Sementara Hitler mengumpulkan Pasukkannya untuk mengusir Amerika dan Inggris kembali dari
                Jerman di "Battle of the Bulge" (Desember 1944 - Januari 1945), yang merupakan serangan utama Jerman yang terakhir di Perang Dunia II. Pengeboman Udara yang dilakukan Sekutu secara intensif pada bulan Februari 1945, didahului dengan Invasi di darat menuju Jerman,
                membuat Jerman kewalahan dan pada suatu waktu Jerman akhirnya secara formal menyerah pada tanggal 8 Mei, yang pada saat itu Soviet telah mengambil alih banyak wilayah negara. Hitler meninggal, dengan aksi bunuh diri pada tanggal 30 April di Bunker Berlin.
            </p>
            <hr style="border-top: 1px dashed #8c8b8b;" />
            <h3>Perang Dunia II Berakhir (1945)</h3>
            <a href="~/img/introduction/postdamconference.jpg">
                <img class="inviewport animated delay1" data-effect="bounceInBig" src="~/img/introduction/postdamconference.jpg"
                     style="float:right; height: 300px; width: auto; margin-left: 20px;"
                     title="From left to right: Clement Attlee, Harry Truman, and Joseph Stalin (Postdam Conference)" data-fancybox-group="gallery" />
            </a>
            <p>
                di "Postdam Conference" pada bulan Juli-Agustus 1945, Presiden U.S Harry S. Truman (seseorang yang mengambil alih kantor setelah kematian Roosevelt pada April lalu), Churchill dan Stalin mendiskusikan tentang Perangnya yang masih berlanjut dengan jepang
                begitu pula dengan penyelesaian perdamaian dengan Jerman. Jerman pasca-perang akan dibagi menjadi 4 wilayah kependudukan, yang akan dikuasai oleh Uni-Soviet, Inggris, United States, dan Perancis. Untuk masalah pembelahan masa depan Eropa Timur, Churchill dan Truman
                menginginkan Stalin, karena mereka masih membutuhkan kerja sama dengan Uni-Soviet untuk Perangnya melawan Jepang. Korban Berat didapatkan pada saat penyerangan di Iwo Jima (Februari 1945) dan Okinawa (April-June 1945), dan diikuti dengan ketakutan akan invasi darat yang semakin mahal
                untuk melawan Jepang akhirnya membuat Truman mengizinkan penggunaan senjata baru dan mengerikan-Bomb Atom- menuju Kota Jepang Hiroshima dan Nagasaki pada awal Agustus. Pada tanggal 10 Agustus, Pemerintahan Jepang menyatakan pernyataan bahwa mereka menerima isi dari "Postdam Declaration",
                dan pada tanggal 2 September, Jendral Douglas MacArthur dari U.S menerima pernyataan menyerah formal Jepang di USS Missouri Tokyo Bay.
            </p>
            <p>
                Perang Dunia II terbukti sebagai konflik internasional yang paling dahsyat di sejarah, mengambil nyawa manusia sekitar 30 sampai 60 juta nyawa, termasuk 6 juta ras yahudi yang meninggal di tangan Nazi. Jutaan lebih terluka, dan banyak orang yang kehilangan rumah dan properti mereka.
                Warisan dari perang tersebut mencakup dari penyebaran ajaran komunis dari Uni-Soviet menuju Eropa Timur sampai kesuksesannya di China, dan Kekuatan Dunia yang bergeser secara global dari Eropa menuju dua rival superpower, yaitu United States dan Uni-Soviet yang pada akhirnya akan
                menghadapai satu sama lain di Perang Dingin.
            </p>
            <div>
                <a asp-controller="Introduction" asp-action="getQuestion" class="btn btn-success" id="quizBtn">
                    <span class="fa fa-play-circle"></span> Mulai Quiz!
                </a>
            </div>
        </section>
    </div>
 </section>