@model IndoWars.ViewModels.ChapterListViewModel

@{
    ViewBag.Title = "Daftar Chapter";
}
<section id="Chapter">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect5">
            <h1>Chapter List</h1>
            <div class="divider"></div>
            <p>Daftar Chapter IndoWars</p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="text-align: center"></th>
                        <th style="text-align: center">Chapter</th>
                        <th style="text-align: center">Description</th>
                        <th style="text-align: center">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ChapterLists)
                    {
                        <tr>
                            <td><img src="~"@item.Image/></td>
                            <td>@item.Name</td>
                            <td>adsadadsadsadad</td>
                            <td></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>