@{
    ViewBag.Title = "Help";
}
<section id="Help">
    <div class="container">
        <div class="section-heading scrollpoint sp-effect3">
            <h1>Help</h1>
            <div class="divider"></div>
            <p>Panduan Bermain IndoWars</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h3>Intro</h3>
                <p>
                    IndoWars merupakan Game Quiz dengan tema Sejarah Indonesia dalam Perang Dunia Ke-2 yang menggunakan sistem Episode dengan Timeline peristiwa yang terjadi dalam sejarah, contoh:
                    misalnya pada awal pertama kali anda memulai game ini maka anda akan memasuki "Chapter 1" yang merupakan peristiwa pada perang dunia Ke-2 yang melibatkan Indonesia pertama kalinya.
                    Setelah anda menyelesaikan Chapter 1 maka anda akan diberi akses untuk memasuki Chapter berikutnya.
                </p>
            </div>
        </div>

    </div>
</section>
